<h1>Hello, <%= @user.first_name %> <%= @user.last_name %></h1>
<h3>All the songs in our hub</h3>
<div>
<table>
  <tr>
    <th>Artist</th>
    <th>Title</th>
    <th>No. of Times Song Has Been Added</th>
    <th>Add to Playlist</th>
  </tr>
  <% @songs.each do |song| %> 
  <tr>
    <td><%= song.artist %> </td>
    <td><a href="/songs/<%= song.id %>"><%= song.title %></a></td>
    <td><%= song.playinglists.count %></td>
    <td>

      <form action="/playinglists/create" method="post">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <input type="hidden" name="play[user_id]" value="<%= current_user.id %>" />
        <input type="hidden" name="play[song_id]" value="<%= song.id%>" />
        <input id="button" type="submit" value="Add">
      </form>
      <% end %>
    </td>
  </tr>
</table>
</div>
</div>
  <h3>Add Song</h3>
  <form action="/songs/create" method="post">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <label>
      Title <input type="text" name="song[title]">
    </label>
    <label>
      Artist <input type="text" name="song[artist]">
    </label>
    <input id="button" type="submit" value="Add Song">
  </form>
  </div>
